.nav {
  display: flex;
  gap: 1rem;
  padding: 17px 1rem;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom:0;
  left:0;
  background-color: #d8dde799;
  width:100vw;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  & img {
    width:28px;
  }
}

.link:hover {
  opacity: 0.7;
}

.link.active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

