.balance {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    margin-top: 16px;
    font-size: 40px;

    margin-bottom: 24px;
}

.walletButton {
    background: #2C2C2C;
    border: none;
    border-radius: 20px;
    padding: 6px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

