.userAvatar {
    
    & img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
    }

    & .avatarPlaceholder {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: linear-gradient(
            90deg,
            #2C2C2C20 -10%,
            #2C2C2C 80%
        );
        display: flex;
        align-items: center;
        justify-content: center;
    }
}