@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #fff;
  background-image: url('/assets/backgrounds/main-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  background-size: 105%;
    background-position: center;
}

.container {
  @apply px-[30px] pt-[10vh];
}